name: Auto Promote DEV to UAT

on:
  push:
    branches:
      - DEV

jobs:
  promote:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Merge DEV into UAT
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git fetch origin
          git checkout UAT
          git merge origin/DEV --no-edit
          git push origin UAT
