name: Auto Merge UAT to PROD

on:
  push:
    branches:
      - UAT

jobs:
  promote:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Merge UAT into PROD
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git fetch origin
          git checkout PROD
          git merge origin/UAT --no-edit --allow-unrelated-historie
          git push origin PROD
